@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(nprogress.css);
@import url(scrollbar.css);
@import url(animation.css);

@layer base {
  :root {
    --radius: 0.5rem;
  }

  * {
    margin: 0;
    padding: 0;
  }

  * {
    @apply min-w-0 border-divider;
  }
}
